<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="my-app.js"></script>
</head>
<body ng-controller="dirController">
    Bűvítő:
    <form ng-submit="add()">
        <input type="text" placeholder="Név" ng-model="name">
        <input type="text" placeholder="Év" ng-model="age">
        <input type="submit" value="Felvesz">
    </form>
    <hr>
    Szűrő: <input type="text" ng-model="search">
    <hr>
    <ul>
        <li ng-repeat="item in list | filter:search">
            {{item.name}} [<em>{{item.age}}</em>]
        </li>
    </ul>
</body>
</html>
