# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# compiled output
/dist
/tmp
/out-tsc

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/LAjsFST/node_modules
/LAjsFST/node_modules/*
/LAjsFST/node_modules/angular
/LAjsFST/node_modules/angular/*
/platforms
/plugins
/www
/public
/resources


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db